# Dependencies
/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
!.env.example

# dist file
server/app/db/models/dist
server/app/api/upload/dist
.dev.js
client/src/app/write/dist/write.module.css
server/app/api/post/dist/route.dev.js
