.main_post_box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    height: calc(100% - 50px);
    width: 100%;
  }
  
  .main_post_card {
    display: flex;
    gap: 24px;
    height: 100%;
    padding: 32px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s ease;
    width: calc(50% - 12px);
    
    &:hover {
      border-color: #2ED3B7;
    }
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 0;
    max-width: calc(100% - 200px - 24px);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: Pretendard;
  }
  
  .category {
    font-weight: 700;
    color: #0A2926;
  }
  
  .dot {
    color: #2ED3B7;
  }
  
  .date {
    color: #4b5563;
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #0A2926;
    font-family: Pretendard;
    margin: 0;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.6;
    color: #4b5563;
    display: -webkit-box;  // 말줄임표 표시
    -webkit-box-orient: vertical; // 텍스트 수직 방향으로 정렬
    -webkit-line-clamp: 3; // 최대 3줄까지만 표시
    overflow: hidden; // 넘치는 텍스트 숨김
    font-family: Pretendard;
    margin: 0;
  }
  
  .tags {
    display: flex;
    gap: 4px;
    margin-top: auto;
    white-space: nowrap;
  }
  
  .tag {
    padding: 2px 8px;
    border: 1px dashed #0A2926;
    border-radius: 4px;
    font-size: 12px;
    color: #0A2926;
    background: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    
    &:hover {
      background-color: #2ED3B7;
      border-color: #2ED3B7;
      color: white;
    }
  }
  
  .image_wrapper {
    position: relative;
    width: 200px;
    flex-shrink: 0;
    
    .image {
      object-fit: cover;
      border-radius: 4px;
    }
  }