@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap'); // 왜 이걸 추가해야 다른 폰트에 영향을 주지 않는건지 의문..

.like_button_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 80px;
}

.like_button {
    color: #2ed3b7;
    font-size: 48px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.like_button:hover {
    transform: scale(1.1);
}

.materialIconLikeTrue {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: red;
}

.materialIconLikeFalse {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: #c9c9c9;
}

.like_count {
    font-size: 16px;
}